// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #66b12f;
$secondary : #2b2b2b;
$accent    : #9C27B0;

$dark      : #2b2b2b;
$black     : #000000;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$yellow:#FFFF00;
$grey : #A4A4A4;
$light-grey: #F1F1F1;
$red: #FB3030;

$light-primary: #EFFFE4;
$bg-line: #D1D1D1;
